body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: yellow;
}

#imageFile{
    width: 500px;
}
#clickBut {
    width: 250px;
    background-color: aquamarine;
    height: 50px;
}

#conmtain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#conmtain > div{
    margin: 15px;
}

#clickBut {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: #d534db;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}

#clickBut:active {
    transform: scale(0.8);
    background-color: #ae2cb3; 
}
#clickBut:hover {
    transform: scale(0.9); 
    background-color: #ae2cb3; 
}